@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
}

body {
    background-color: rgb(240, 240, 240);
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Left side of webpage */

#left-page {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: max(100vh, 860px);
}

#box-b {
    background-color: rgba(0,0,0,0.5);
    height: 200px;
    width: 40vw;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: clamp(75px,6vw,100px);
    height: auto;
}

#logo {
    font-size: clamp(3rem, 4vw, 4rem);
    margin-left: 10px;
}

#credit {
    margin-bottom: 20px;
}

/* Right side of webpage */

#right-page {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60vw;
    height: auto;
}

.text {
    font-size: 1.6rem;
    margin-left: 60px;
    margin-right: 60px;
}

.text.t-one {
    margin-bottom: 60px;
}

.text.t-two {
    margin-bottom: 80px;
}

#box-w {
    background-color: white;
    padding: 30px 0px;
    box-shadow: 0px 6px 6px lightgrey;
}

.form-row {
    display: flex;
    margin: 30px 60px 0px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-left {
    margin-right: 60px;
}

label {
    color: rgb(70, 70, 70);
    font-size: 0.8rem;
}

input {
    appearance: none;
    border: solid 1px #E5E7EB;
    border-radius: 3px;
    margin-top: 5px;
    width: clamp(200px, 16vw, 400px);
    height: 25px;
}

input:focus,
input:required:focus {
    outline: none;
    border-color: blue;
    box-shadow: 2px 2px 2px lightgrey;
}

#on-error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}

button {
    appearance: none;
    background-color: #596d48;
    border: 0;
    border-radius: 3px;
    color: white;
    font-size: 1.2rem;
    margin: 40px 60px;
    padding: 15px 30px;
}

button:hover {
    filter: brightness(0.9);
}

button:active {
    filter: brightness(0.7);
}

#login {
    font-size: 1.2rem;
    margin: 0px 60px 40px;
}

#login a {
    color: #596d48;
    font-weight: bold;
}